# Basic .gitignore for PyQt Development
# Source: https://gist.github.com/gaseosaluz/0d4665b2fa179e36560db689f0ea92be

__pycache__/
/.idea/
.idea/workspace.xml
.idea/*
*.py[cod]
*$py.class

*.so

.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg
.idea/

*.manifest

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*,cover
.hypothesis/

*.mo
*.pot
*.log
local_settings.py
instance/
.webassets-cache
.scrapy
docs/_build/
target/
.ipynb_checkpoints
.python-version
celerybeat-schedule

.env
.venv/
venv/
ENV/

.spyderproject
.ropeproject
.pyproject